{% extends "feed/layout.html" %}
{% load static %}
{% block content %}
<h1 class="large text-primary">
  Dashboard
</h1>
<p class="lead"><i class="fas fa-user"></i> Welcome {{ user }}</p>
<!-- <div class="dash-buttons">
  <a href="{% url 'edit_profile' %}" class="btn">
    <i class="fas fa-user-circle text-primary"></i> Edit Profile
  </a>
  <a href="{ url 'add-experience' }" class="btn">
    <i class="fab fa-black-tie text-primary"></i> Add Experience
  </a>
  <a href="{ url 'add-education' }" class="btn">
    <i class="fas fa-graduation-cap text-primary"></i> Add Education
  </a>
</div> -->

<!-- <h2 class="my-2">
  Experience Credentials
</h2>
<table class="table">
  <thead>
    <tr>
      <th>Company</th>
      <th class="hide-sm">Title</th>
      <th class="hide-sm">Years</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Microsoft</td>
      <td class="hide-sm">Senior Developer</td>
      <td class="hide-sm">
        Oct 2011 - Current
      </td>
      <td>
        <button class="btn btn-danger">
          Delete
        </button>
      </td>
    </tr>
    <tr>
      <td>Sun Microsystems</td>
      <td class="hide-sm">Senior Developer</td>
      <td class="hide-sm">
        Oct 2004 - Nov 2010
      </td>
      <td>
        <button class="btn btn-danger">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<h2 class="my-2">
  Education Credentials
</h2>
<table class="table">
  <thead>
    <tr>
      <th>School</th>
      <th class="hide-sm">Degree</th>
      <th class="hide-sm">Years</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>University of Washington</td>
      <td class="hide-sm">Masters</td>
      <td class="hide-sm">
        Sep 1993 - June 1999
      </td>
      <td>
        <button class="btn btn-danger">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table> -->

<div class="posts">
  {% for post in posts %}
  <div class="post bg-white p-1 my-1">
    <div>
      <a href="{{ post.user_name.profile.get_absolute_url }}">
        <img class="round-img" src="https://ui-avatars.com/api/?size=128&background=random&name={{ post.user_name }}" alt="" />
        <h4>{{ post.user_name }}</h4>
      </a>

      {% if post.tags %}
      <br />
      <p class="text-danger ml-3">
        <b>Tags: <i>{{ post.tags }}</i></b>
      </p>
      <br />
      {% endif %}
      <div class="card-footer">
        <button class="btn btn-white m-1 like" id="{{ post.id }}">
          {% if post in liked_post %}
          <a href="{% url 'post-like' %}" style="color: red" id="likebtn{{ post.id }}">
            Unlike</a>
          | {{post.likes.count}} {% else %}
          <a href="{% url 'post-like' %}" style="color: green" id="likebtn{{ post.id }}">
            Like</a>
          | {{post.likes.count}} {% endif %}
        </button>
        <a class="btn btn-outline-info" href="{% url 'post-detail' post.id %}">Comments | {{ post.details.count }}</a>
      </div>
    </div>
    <div>
      <p class="my-1 lead">{{ post.description }}</p>
      <br />
      <small class="text-muted">Posted on {{ post.date_posted }}</small>
      <br />
      <a href="{% url 'post-detail' post.id %}"><img class="card-img-top" src="{{ post.pic.url }}" alt="" /></a>

      <div class="post-form">
        <div class="post-form-header bg-primary">
          <h3>Leave A Comment</h3>
        </div>
        <form class="form my-1">
          <textarea name="text" cols="30" rows="5" placeholder="Comment on this post"></textarea>
          <input type="submit" class="btn btn-dark my-1" value="Submit" />
        </form>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<!-- <div class="my-2">
  <button class="btn btn-danger">
    <i class="fas fa-user-minus"></i> Delete My Account
  </button>
</div> -->
{% endblock %}

{% block content_unauth %}
<section class="landing">
  <div class="dark-overlay">
    <div class="landing-inner">
      <h1 class="x-large">Developer Connector</h1>
      <p class="lead">
        Create developer profile/portfolio, share posts and get help from
        other developers
      </p>
      <div class="buttons">
        <a href="{% url 'register' %}" class="btn btn-primary">Sign Up</a>
        <a href="{% url 'login' %}" class="btn btn">Login</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
