{% extends "feed/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <div class="card card-signin my-3 p-3">
      <div class="card-body">
        <a href="{{ post.user_name.profile.get_absolute_url }}">
          <img src="https://ui-avatars.com/api/?size=128&background=random&name={{ post.user_name }}"
            class="round-img avatar" alt="" /></a>
        <a class="text-dark" href="{{ post.user_name.profile.get_absolute_url }}"><b>{{ post.user_name }}</b></a>
        <br /><small class="text-muted">Posted on {{ post.date_posted }}</small>
        <br /><br />
        <p class="card-text text-dark">{{ post.description }}</p>
      </div>
      <a href="{{ post.pic.url }}"><img class="card-img-top" src="{{ post.pic.url }}" alt="" /></a>
      {% if post.tags %}
      <br />
      <p class="text-danger ml-3">
        <b>Tags: <i>{{ post.tags }}</i></b>
      </p>
      {% endif %}
      <div class="card-footer">
        <button class="btn btn-white mr-3 like" id="{{ post.id }}">
          {% if is_liked %}
          <a href="{% url 'post-like' %}" style="color: red" id="likebtn{{ post.id }}">
            Unlike | {{post.likes.count}}</a>
          {% else %}
          <a href="{% url 'post-like' %}" style="color: green" id="likebtn{{ post.id }}">
            Like | {{post.likes.count}}</a>
          {% endif %}
        </button>

        {% if post.user_name == user %}
        <a class="btn btn-outline-info mr-3" href="{% url 'post-update' post.id %}">Update</a>
        <a class="btn btn-outline-danger" href="{% url 'post-delete' post.id %}">Delete</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<br />
<h4>Comments</h4>
<div class="row">
  <div class="col-md-8">
    <div class="card card-signin my-3 p-3">
      <div class="card-body">
        <form class="form-signin" method="POST" id="post-form">
          {% csrf_token %}
          {{ form|crispy }}
          <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Comment</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    {% if post.details.all %}
    <div class="card card-signin my-3 p-3">
      {% for detail in post.details.all %}
      <div class="card-body">
        <a href="{{ detail.username.profile.get_absolute_url }}">
          <img src="https://ui-avatars.com/api/?size=128&background=random&name={{ detail.username }}"
            class="round-img avatar" alt="" />
        </a>
        <a class="text-dark" href="{{ detail.username.profile.get_absolute_url }}"><b>{{ detail.username }}</b></a>
        <br /><small>{{ detail.comment_date }}</small><br /><br />
        <p class="card-text text-dark">{{ detail.comment }}</p>
      </div>
      <hr class="my-1" />
      {% endfor %}
    </div>
    {% else %}
    <p>No comments to show!</p>
    {% endif %}
  </div>
</div>
{% endblock %}