{% extends "feed/layout.html" %}
{% load static %}
{% block content %}
<a href="{% url 'home' %}" class="btn">Back To Posts</a>
<div class="posts">
{% for post in posts %}
  <div class="post bg-white p-1 my-1">
    <div>
      <a href="{{ post.user_name.profile.get_absolute_url }}">
        <img
          class="round-img"
          src="{{ post.user_name.profile.image.url }}"
          alt=""
        />
        <h4>{{ post.user_name }}</h4>
      </a>
    </div>
    <div>
      <p class="my-1">{{ post.description }}</p>
      <br /><small class="text-muted">Posted on {{ post.date_posted }}</small>
      <br />
      <a href="{% url 'post-detail' post.id %}"><img class="card-img-top" src="{{ post.pic.url }}" alt="" /></a>
    </div>
    <div class="post-form">
      <div class="post-form-header bg-primary">
        <h3>Leave A Comment</h3>
      </div>
      <form class="form my-1">
        <textarea name="text" cols="30" rows="5" placeholder="Comment on this post"></textarea>
        <input type="submit" class="btn btn-dark my-1" value="Submit" />
      </form>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
