{% extends "feed/layout.html" %}
{% load static %}
{% block content %}
<h1 class="large text-primary">
  Developers
</h1>
<p class="lead">
  <i class="fab fa-connectdevelop"></i> Browse and connect with developers
</p>
<div class="profiles">
  {% if friends %}
  {% for user_p in friends %}
  <div class="profile bg-light">
    <img class="round-img" src="{{ user_p.image.url }}" alt="" />

    <div>
      <h2>{{ user_p }}</h2>
      <p>Developer at Microsoft</p>
      <p>Seattle, WA</p>
      <a href="{{ user_p.get_absolute_url }}" class="btn btn-primary">View Profile</a>
    </div>

    <ul>
      <li class="text-primary"><i class="fas fa-check"></i> HTML</li>
      <li class="text-primary"><i class="fas fa-check"></i> CSS</li>
      <li class="text-primary">
        <i class="fas fa-check"></i> JavaScript
      </li>
      <li class="text-primary"><i class="fas fa-check"></i> Python</li>
    </ul>
  </div>
  {% endfor %}
  {% else %}
  <h5>
    <i>You have no friends now! Make some new <a href="{% url 'users_list' %}">friends here!</a></i>
  </h5>
  {% endif %}
</div>
{% endblock %}
