{% extends "feed/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content_unauth %}
<section class="container">
  <!-- Alert -->
  <!-- <div class="alert alert-danger">
    Invalid Credentials
  </div> -->

  <h1 class="large text-primary">
    Sign In
  </h1>
  <p class="lead"><i class="fas fa-user"></i> Sign into your account</p>
  <form method="POST" class="form">
    {% csrf_token %}
    <div class="form-group">
      {{ form|crispy }}
    </div>
    <input type="submit" value="Login" class="btn btn-primary" />
  </form>
  <p class="my-1">
    Don't have an account? <a href="{% url 'register' %}">Sign Up</a>
  </p>
</section>
{% endblock %}
