{% extends "feed/layout.html" %}
{% load static %}
{% block content %}
<a href="{% url 'users_list' %}" class="btn">Back To Profiles</a>

<div class="profile-grid my-1">
  <!-- Top -->
  <div class="profile-top bg-primary p-2">
    <img class="round-img my-1" src="https://ui-avatars.com/api/?size=128&background=random&name={{ u }}" alt="" />

    <h1 class="large">{{ u }}</h1>
    <div class="dash-buttons">
      {% if request.user == u %}
      <a href="{% url 'edit_profile' %}" class="btn">
        <i class="fas fa-user-circle text-primary"></i> Edit Profile
      </a>
      {% else %}
      {% if button_status == 'not_friend' %}
      <a class="btn" href="/users/friend-request/send/{{ u.id }}">Add Friend</a>
      {% elif button_status == 'friend_request_sent' %}
      <a class="btn btn-warning" href="/users/friend-request/cancel/{{ u.id }}">Cancel Request</a>
      {% elif button_status == 'friend_request_received' %}
      <a class="btn btn-success mr-2" href="/users/friend-request/accept/{{ u.id }}">Accept Request</a>
      <a class="btn btn-danger" href="/users/friend-request/delete/{{ u.id }}">Reject Request</a>
      {% else %}
      <a class="btn btn-danger" href="/users/friend/delete/{{ u.id }}">UnFriend</a>
      {% endif %}
      {% endif %}
    </div>
    <p class="lead">{{ u.profile.bio }}</p>
    <p>{{ u.profile.location }}</p>
    <div class="icons my-1">
      <a href="#">
        <i class="fas fa-globe fa-2x"></i>
      </a>
      <a href="#">
        <i class="fab fa-twitter fa-2x"></i>
      </a>
      <a href="#">
        <i class="fab fa-facebook fa-2x"></i>
      </a>
      <a href="#">
        <i class="fab fa-linkedin fa-2x"></i>
      </a>
      <a href="#">
        <i class="fab fa-instagram fa-2x"></i>
      </a>
    </div>
    <div class="mt-3">
      <span class="heading">{{ u.profile.friends.count }}</span>
      <span class="description">Friends</span>
      <span>|</span>
      <span class="heading">{{ post_count }}</span>
      <span class="description"><a class="text-white" href="{% url 'user-posts' u.username %}">Posts</a></span>
    </div>
  </div>
  <!-- About -->
  <div class="profile-about bg-light p-2">
    <h2 class="text-primary">Skill Set</h2>
    <div class="skills">
      <div class="p-1"><i class="fas fa-check"></i> HTML</div>
      <div class="p-1"><i class="fas fa-check"></i> CSS</div>
      <div class="p-1"><i class="fas fa-check"></i> JavaScript</div>
      <div class="p-1"><i class="fas fa-check"></i> Python</div>
    </div>
  </div>
  <!-- Experience -->
  <div class="profile-exp bg-white p-2">
    <h2 class="text-primary">Experiences</h2>
    <div>
      <h3>Microsoft</h3>
      <p>Oct 2011 - Current</p>
      <p><strong>Position: </strong> Senior Developer</p>
      <p>
        <strong>Description: </strong>Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Perspiciatis in sed officiis,
        dolorem amet cum?
      </p>
    </div>
    <div>
      <h3>Sun Microsystems</h3>
      <p>Oct 2004 - Nov 2010</p>
      <p><strong>Position: </strong> Systems Admin</p>
      <p>
        <strong>Description: </strong>Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Perspiciatis in sed officiis,
        dolorem amet cum?
      </p>
    </div>
  </div>
  <!-- Education -->
  <div class="profile-edu bg-white p-2">
    <h2 class="text-primary">Education</h2>
    <div>
      <h3>University Of Washington</h3>
      <p>Sep 1993 - June 1999</p>
      <p><strong>Degree: </strong> Masters</p>
      <p><strong>Field Of Study: </strong> Computer Science</p>
      <p>
        <strong>Description: </strong>Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Perspiciatis in sed officiis,
        dolorem amet cum?
      </p>
    </div>
  </div>
  <!-- Github Repos -->
  <div class="profile-github">
    <h2 class="text-primary my-1">
      <i class="fab fa-github"></i> Github Repos
    </h2>
    <div class="repo bg-white my-1 p-1">
      <div>
        <h4><a href="#">Repo One</a></h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Facilis, tenetur.
        </p>
      </div>

      <div>
        <ul>
          <li class="badge badge-primary">Stars: 44</li>
          <li class="badge badge-dark">Watchers: 20</li>
          <li class="badge badge-light">Forks: 25</li>
        </ul>
      </div>
    </div>

    <div class="repo bg-white my-1 p-1">
      <div>
        <h4><a href="#">Repo Two</a></h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Facilis, tenetur.
        </p>
      </div>

      <div>
        <ul>
          <li class="badge badge-primary">Stars: 44</li>
          <li class="badge badge-dark">Watchers: 20</li>
          <li class="badge badge-light">Forks: 25</li>
        </ul>
      </div>
    </div>

    <div class="repo bg-white my-1 p-1">
      <div>
        <h4><a href="#">Repo One</a></h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Facilis, tenetur.
        </p>
      </div>

      <div>
        <ul>
          <li class="badge badge-primary">Stars: 44</li>
          <li class="badge badge-dark">Watchers: 20</li>
          <li class="badge badge-light">Forks: 25</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- TODO: Move to dashboard (home.html) -->
<!-- <div class="main-content">
  <div class="container mt-7">
    <div class="row">
      <div class="col-xl-8 m-auto order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="{{ u.profile.image.url }}">
                  <img
                    src="{{ u.profile.image.url }}"
                    class="rounded-circle"
                    width="160px"
                    height="160px"
                  />
                </a>
              </div>
            </div>
          </div>
          <div
            class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4"
          ></div>
          <div class="card-body pt-0 pt-md-4">
            <div class="row">
              <div class="col">
                <div
                  class="card-profile-stats d-flex justify-content-center mt-md-5"
                >
                  <div>
                    <span class="heading">{{ u.profile.friends.count }}</span>
                    {% if request.user == u %}
                    <span class="description"
                      ><a href="{% url 'friend_list' %}">Friends</a></span
                    >
                    {% else %}
                    <span class="description">Friends</span>
                    {% endif %}
                    <span class="heading">{{ post_count }}</span>
                    <span class="description"
                      ><a href="{% url 'user-posts' u.username %}"
                        >Posts</a
                      ></span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <h3></h3>
              <p>{{ u.profile.bio }}</p>
              <hr class="my-2" />
              {% if request.user == u %}
              <a class="btn btn-info" href="{% url 'edit_profile' %}"
                >Edit Profile</a
              >
              {% else %} {% if button_status == 'not_friend' %}
              <small
                ><a
                  class="btn btn-primary"
                  href="/users/friend-request/send/{{ u.id }}"
                  >Add Friend</a
                ></small
              >
              {% elif button_status == 'friend_request_sent' %}
              <small
                ><a
                  class="btn btn-warning"
                  href="/users/friend-request/cancel/{{ u.id }}"
                  >Cancel Request</a
                ></small
              >
              {% elif button_status == 'friend_request_received' %}
              <small
                ><a
                  class="btn btn-success mr-2"
                  href="/users/friend-request/accept/{{ u.id }}"
                  >Accept Request</a
                ></small
              >
              <small
                ><a
                  class="btn btn-danger"
                  href="/users/friend-request/delete/{{ u.id }}"
                  >Reject Request</a
                ></small
              >
              {% else %}
              <small
                ><a
                  class="btn btn-danger"
                  href="/users/friend/delete/{{ u.id }}"
                  >UnFriend</a
                ></small
              >
              {% endif %} {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    {% if request.user == u %}
    <div class="row">
      <div class="col-md-6">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h2>Friend Requests Sent ({{ sent_friend_requests.count }})</h2>
            <hr class="my-2" />
            {% if not sent_friend_requests %}
            <h5><i>No sent requests!</i></h5>
            {% else %} {% for s_request in sent_friend_requests %}
            <a href="{{ s_request.to_user.profile.get_absolute_url }}"
              ><img
                src="{{ s_request.to_user.profile.image.url }}"
                class="rounded mr-2"
                width="40"
                height="40"
                alt=""
            /></a>
            <a href="{{ s_request.to_user.profile.get_absolute_url }}"
              ><b>{{ s_request.to_user.username }}</b></a
            >
            <small class="float-right">
              <a
                class="btn btn-warning mr-2"
                href="{% url 'cancel_friend_request' s_request.to_user.id %}"
                >Cancel</a
              >
            </small>
            <br /><br />
            {% endfor %} {% endif %}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h2>Friend Requests Recieved ({{ rec_friend_requests.count }})</h2>
            <hr class="my-2" />
            {% if not rec_friend_requests %}
            <h5><i>No recieved requests!</i></h5>
            {% else %} {% for r_request in rec_friend_requests %}
            <a href="{{ r_request.from_user.profile.get_absolute_url }}"
              ><img
                src="{{ r_request.from_user.profile.image.url }}"
                class="rounded mr-2"
                width="40"
                height="40"
                alt=""
            /></a>
            <a
              class="mr-2 align-middle"
              href="{{ r_request.from_user.profile.get_absolute_url }}"
              ><b>{{ r_request.from_user.username }}</b>
            </a>
            <small class="float-right">
              <a
                class="btn btn-success mr-2"
                href="/users/friend-request/accept/{{ r_request.from_user.id }}"
                >Accept</a
              >
              <a
                class="btn btn-danger"
                href="/users/friend-request/delete/{{ r_request.from_user.id }}"
                >Reject</a
              >
            </small>
            <br /><br />
            {% endfor %} {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div> -->
{% endblock %}